
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color:  rgb(65, 65, 168);
    }

.main-content{
    min-height: 100vh;
    width: 90%;
    margin: 2rem auto;
    background-color: white;
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: rgb(142, 187, 52);
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: white;
}

.left-content{
    padding: 1rem 3rem;
}

.profile{
    width: 100%;
    border-bottom: 2px solid rgb(65, 65, 168);
}

.profile img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(65, 65, 168);
}

.name{
    font-size: 3rem;
    color: rgb(65, 65, 168);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: rgb(65, 65, 168);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding-bottom: 1.2rem;
}

.main-tittle{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.3px;
    padding-top: 2rem;
    color: white;
}

.contact-info ul{
    padding: 2rem 0;
}

.contact-info ul li{
    padding-top: .4rem;
    display: flex;
    align-items: center;
    color: rgb(65, 65, 168);
}

.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.3rem;
    color: rgb(65, 65, 168);
}

.skills-section ul{
    padding: 2rem 0;
}

.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress-bar{
    width: 100%;
    height: .7rem;
    background-color:white;
    position: relative;
    border-radius: 12px;
}

.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgb(65, 65, 168);
    border-radius: 12px;
}

.JS-progress{
    width: 70%;
}

.JV-progress{
    width: 80%;
}

.PHP-progress{
    width: 70%;
}

.NDJS-progress{
    width: 65%;
}
.CSS-progress{
    width: 90%;
}

.skills-tittle{
    text-transform: uppercase;
    color: rgb(65, 65, 168);
    font-size: 1rem;
}

.icons{
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    font-size: 3rem;
    color: rgb(65, 65, 168);
}

.right-main-content{
    padding: 2rem 3rem;
}

.right-tittle{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(65, 65, 168);
    padding-left: 2rem;
    padding-bottom: 1.2rem;
}

.right-tittle1{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(142, 187, 52);
    padding-left: 2rem;
    padding-bottom: 1.2rem;
}

.right-tittle::after{
    content: "";
    position: absolute;
    width: 60%;
    height: .3rem;
    border-radius: 10px;
    background-color: rgb(142, 187, 52);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para{
    line-height: 1.5rem;
    color: black;
    font-size: 1.1rem;
}

.about{
    padding-bottom: 2rem;
}